@import './colors';

button[data-type="icon"] {
    width: 40px;
    height: 40px;
    background-color: transparent;
    border: none;
    cursor: pointer;
}

button[data-type="icon"][data-color="white"] {
    fill: $neutral-100;
}

button[data-type="icon"][data-color="blue"] {
    fill: $primary-400;
}

button[data-type="icon"][data-color="black"] {
    fill: $neutral-900;
}

button[data-icon="search"] {
    transition: transform .2s;
    
    &:hover {
        transform: scale(1.1);
    }
}

button[data-icon="arrow"] {
    cursor: initial;
    transition: fill .35s;

    &:hover {
        fill: $primary-400;
    }
}

.btn-help {
    display: flex;
    align-items: center;
    justify-content: center;
    gap: .4rem;
    cursor: pointer;
    font-weight: 600;
    fill: $neutral-100;
    color: $neutral-100;
    border-radius: 100vmax;
    border: none;
    
    .icon {
        width: 20px;
        height: 20px;
    }
}

button[data-type="float"] {
    border: none;
    position: absolute;
    right: 20px;
    bottom: 10px;
    border-radius: 100vmax;
    padding: .75rem 1.2rem;
    gap: .5rem;
    display: flex;
    align-items: center;
    justify-content: center;

    &[data-color="blue"] {
        fill: $neutral-100;
        background-color: $primary-400;
    }

    .icon {
        width: 20px;
        height: 20px;
    }

    span {
        color: $neutral-100;
        font-size: .95rem;
        font-weight: 700;
    }
}