$fs-100: .75rem;
$fs-200: .975rem;
$fs-300: 1.2rem;
$fs-400: 1.5rem;
$fs-500: 1.85rem;
$fs-600: 2.25rem;
$fs-700: 2.75rem;
$fs-800: 3.25rem;
$fs-900: 3.785rem;


.fs-100 {
    font-size: $fs-100;
}

.fs-200 {
    font-size: $fs-200;
}

.fs-300 {
    font-size: $fs-300;
}

.fs-400 {
    font-size: $fs-400;
}

.fs-500 {
    font-size: $fs-500;
}

.fs-600 {
    font-size: $fs-600;
}

.fs-700 {
    font-size: $fs-700;
}

.fs-800 {
    font-size: $fs-800;
}

.fs-900 {
    font-size: $fs-900;
}