/* http://meyerweb.com/eric/tools/css/reset/ 
   v2.0 | 20110126
   License: none (public domain)
*/
html, body, div, span, applet, object, iframe,
h1, h2, h3, h4, h5, h6, p, blockquote, pre,
a, abbr, acronym, address, big, cite, code,
del, dfn, em, img, ins, kbd, q, s, samp,
small, strike, strong, sub, sup, tt, var,
b, u, i, center,
dl, dt, dd, ol, ul, li,
fieldset, form, label, legend,
table, caption, tbody, tfoot, thead, tr, th, td,
article, aside, canvas, details, embed,
figure, figcaption, footer, header, hgroup,
menu, nav, output, ruby, section, summary,
time, mark, audio, video {
  margin: 0;
  padding: 0;
  border: 0;
  font-size: 100%;
  font-family: system-ui, -apple-system, BlinkMacSystemFont, "Segoe UI", Roboto, Oxygen, Ubuntu, Cantarell, "Open Sans", "Helvetica Neue", sans-serif;
  vertical-align: baseline;
}

/* HTML5 display-role reset for older browsers */
article, aside, details, figcaption, figure,
footer, header, hgroup, menu, nav, section {
  display: block;
}

body {
  line-height: 1;
}

ol, ul {
  list-style: none;
}

blockquote, q {
  quotes: none;
}

blockquote:before, blockquote:after,
q:before, q:after {
  content: "";
  content: none;
}

table {
  border-collapse: collapse;
  border-spacing: 0;
}

*, *::before, *::after {
  box-sizing: border-box;
  padding: 0;
  margin: 0;
}

.fs-100 {
  font-size: 0.75rem;
}

.fs-200 {
  font-size: 0.975rem;
}

.fs-300 {
  font-size: 1.2rem;
}

.fs-400 {
  font-size: 1.5rem;
}

.fs-500 {
  font-size: 1.85rem;
}

.fs-600 {
  font-size: 2.25rem;
}

.fs-700 {
  font-size: 2.75rem;
}

.fs-800 {
  font-size: 3.25rem;
}

.fs-900 {
  font-size: 3.785rem;
}

img {
  width: 100%;
  height: 100%;
  object-fit: contain;
}

.bg-img_support {
  width: 242px;
  height: 242px;
  background: url("/sprites/img-sprites.png") -622px -10px;
}

.bg-img_money {
  width: 288px;
  height: 288px;
  background: url("/sprites/img-sprites.png") -10px -10px;
}

.bg-img_manage {
  width: 272px;
  height: 272px;
  background: url("/sprites/img-sprites.png") -10px -318px;
}

.bg-img_key {
  width: 240px;
  height: 240px;
  background: url("/sprites/img-sprites.png") -622px -272px;
}

.bg-img_account {
  width: 244px;
  height: 244px;
  background: url("/sprites/img-sprites.png") -302px -318px;
}

.bg-img_abstract {
  width: 284px;
  height: 284px;
  background: url("/sprites/img-sprites.png") -318px -10px;
}

svg.icon {
  width: 40px;
  height: 40px;
}

svg.icon.block {
  width: 100%;
  height: 100%;
}

.bg-primary-400 {
  background-color: #4C5FD5;
}

.bg-accent-400 {
  background-color: #dadbf1;
}

.bg-neutral-100 {
  background-color: #fff;
}

.bg-neutral-900 {
  background-color: #000000;
}

.color-primary-400 {
  color: #4C5FD5;
}

.color-accent-400 {
  color: #dadbf1;
}

.color-neutral-100 {
  color: #fff;
}

.color-neutral-900 {
  color: #000000;
}

.bg-primary-400 {
  background-color: #4C5FD5;
}

.bg-accent-400 {
  background-color: #dadbf1;
}

.bg-neutral-100 {
  background-color: #fff;
}

.bg-neutral-900 {
  background-color: #000000;
}

.color-primary-400 {
  color: #4C5FD5;
}

.color-accent-400 {
  color: #dadbf1;
}

.color-neutral-100 {
  color: #fff;
}

.color-neutral-900 {
  color: #000000;
}

a {
  color: #000000;
  text-decoration: none;
}

a[data-type=icon] {
  display: flex;
  justify-content: center;
  align-items: center;
  width: 150px;
  height: 50px;
  transition: opacity 0.35s;
  background-color: #000000;
}
a[data-type=icon]:hover, a[data-type=icon]:focus-within {
  text-decoration: underline;
}
a[data-type=icon]:hover[data-icon=topbar], a[data-type=icon]:focus-within[data-icon=topbar] {
  opacity: 0.8;
}
a[data-type=icon]:focus-within {
  color: #000000;
}

a[data-type=arrow] {
  text-transform: capitalize;
  color: #4C5FD5;
  font-size: 1.25rem;
  font-weight: 300;
  line-height: 1.75rem;
}

a[data-type=button] {
  padding: 1rem;
  display: block;
  font-size: 1.5rem;
  border-radius: 10px;
}

a[data-type=button][data-color=primary] {
  background-color: #4C5FD5;
  color: #fff;
  transition: color 0.35s, background-color 0.35s;
}
a[data-type=button][data-color=primary]:hover, a[data-type=button][data-color=primary]:focus-within {
  color: #000000;
  background-color: #fff;
}

a[data-type=button][data-color=outline] {
  border: 2px solid #fff;
  color: #fff;
  background-color: #000000;
}

@media screen and (min-width: 50em) {
  a[data-type=arrow] {
    font-size: 1.35rem;
    line-height: 1.95rem;
  }
}
a.link {
  color: #fff;
}
a.link:hover, a.link:focus-within {
  text-decoration: underline;
}

.bg-primary-400 {
  background-color: #4C5FD5;
}

.bg-accent-400 {
  background-color: #dadbf1;
}

.bg-neutral-100 {
  background-color: #fff;
}

.bg-neutral-900 {
  background-color: #000000;
}

.color-primary-400 {
  color: #4C5FD5;
}

.color-accent-400 {
  color: #dadbf1;
}

.color-neutral-100 {
  color: #fff;
}

.color-neutral-900 {
  color: #000000;
}

button[data-type=icon] {
  width: 40px;
  height: 40px;
  background-color: transparent;
  border: none;
  cursor: pointer;
}

button[data-type=icon][data-color=white] {
  fill: #fff;
}

button[data-type=icon][data-color=blue] {
  fill: #4C5FD5;
}

button[data-type=icon][data-color=black] {
  fill: #000000;
}

button[data-icon=search] {
  transition: transform 0.2s;
}
button[data-icon=search]:hover {
  transform: scale(1.1);
}

button[data-icon=arrow] {
  cursor: initial;
  transition: fill 0.35s;
}
button[data-icon=arrow]:hover {
  fill: #4C5FD5;
}

.btn-help {
  display: flex;
  align-items: center;
  justify-content: center;
  gap: 0.4rem;
  cursor: pointer;
  font-weight: 600;
  fill: #fff;
  color: #fff;
  border-radius: 100vmax;
  border: none;
}
.btn-help .icon {
  width: 20px;
  height: 20px;
}

button[data-type=float] {
  border: none;
  position: absolute;
  right: 20px;
  bottom: 10px;
  border-radius: 100vmax;
  padding: 0.75rem 1.2rem;
  gap: 0.5rem;
  display: flex;
  align-items: center;
  justify-content: center;
}
button[data-type=float][data-color=blue] {
  fill: #fff;
  background-color: #4C5FD5;
}
button[data-type=float] .icon {
  width: 20px;
  height: 20px;
}
button[data-type=float] span {
  color: #fff;
  font-size: 0.95rem;
  font-weight: 700;
}

.bg-primary-400 {
  background-color: #4C5FD5;
}

.bg-accent-400 {
  background-color: #dadbf1;
}

.bg-neutral-100 {
  background-color: #fff;
}

.bg-neutral-900 {
  background-color: #000000;
}

.color-primary-400 {
  color: #4C5FD5;
}

.color-accent-400 {
  color: #dadbf1;
}

.color-neutral-100 {
  color: #fff;
}

.color-neutral-900 {
  color: #000000;
}

.form-field {
  position: relative;
  display: flex;
  align-items: center;
}
.form-field .icon {
  position: absolute;
  right: 0;
}

label {
  position: absolute;
  left: -999px;
  visibility: hidden;
  clip: 0;
}

input[type=search] {
  border: 1px solid #000000;
  border-radius: 5px;
  padding: 0.75rem 0.95rem;
  font-size: 1.2rem;
  outline: none;
  transition: border-color 0.35s;
  display: block;
  width: 100%;
  box-shadow: 0 9px 14px 0 rgba(0, 0, 0, 0.1);
}
input[type=search]:hover, input[type=search]:focus-within {
  border-color: #4C5FD5;
}
input[type=search]:hover + .icon, input[type=search]:focus-within + .icon {
  fill: #4C5FD5;
}

input[type=search]::-webkit-search-decoration,
input[type=search]::-webkit-search-cancel-button,
input[type=search]::-webkit-search-results-button,
input[type=search]::-webkit-search-results-decoration {
  display: none;
}

.bg-primary-400 {
  background-color: #4C5FD5;
}

.bg-accent-400 {
  background-color: #dadbf1;
}

.bg-neutral-100 {
  background-color: #fff;
}

.bg-neutral-900 {
  background-color: #000000;
}

.color-primary-400 {
  color: #4C5FD5;
}

.color-accent-400 {
  color: #dadbf1;
}

.color-neutral-100 {
  color: #fff;
}

.color-neutral-900 {
  color: #000000;
}

.category {
  display: flex;
  gap: 1rem;
}

.category-icon {
  display: flex;
  align-items: center;
  flex-direction: column;
  margin-top: 1.6rem;
}
.category-icon img {
  max-height: 110px;
}

.category-content {
  max-width: 50ch;
}

.category-content > *:not(:last-child) {
  margin-bottom: 1.2rem;
}

.category-content__title {
  margin-top: 1.6rem;
  font-size: 1.95rem;
}

.category-content__desc {
  line-height: 1.5;
  font-size: 1.5rem;
}

.category-content__link {
  font-size: 1.3rem !important;
  line-height: 2 !important;
}
.category-content__link:hover, .category-content__link :focus-within {
  text-decoration: underline;
}

@media screen and (min-width: 50em) {
  .category {
    gap: 1.2rem;
  }

  .category-icon {
    margin-top: 1.3rem;
  }
  .category-icon img {
    max-height: 100px;
  }

  .category-content {
    max-width: 45ch;
  }

  .category-content > *:not(:last-child) {
    margin-bottom: 1.3rem;
  }

  .category-content__title {
    font-size: 2rem;
  }

  .category-content__desc {
    font-size: 1.6rem;
  }

  .category-content__link {
    font-size: 1.6rem !important;
  }
}
.bg-primary-400 {
  background-color: #4C5FD5;
}

.bg-accent-400 {
  background-color: #dadbf1;
}

.bg-neutral-100 {
  background-color: #fff;
}

.bg-neutral-900 {
  background-color: #000000;
}

.color-primary-400 {
  color: #4C5FD5;
}

.color-accent-400 {
  color: #dadbf1;
}

.color-neutral-100 {
  color: #fff;
}

.color-neutral-900 {
  color: #000000;
}

.footer-list-container {
  display: flex;
  flex-direction: column;
  gap: 1.2rem;
}

.footer-list__title {
  font-size: 1.6rem;
}

.footer-list > li:not(:first-child) {
  margin-top: 0.5rem;
}

.sub-footer__container {
  margin-top: 0.5rem;
}
.sub-footer__container .sub-footer__title {
  font-size: 1.2rem;
  margin-bottom: 0.5rem;
  display: block;
}

.bg-primary-400 {
  background-color: #4C5FD5;
}

.bg-accent-400 {
  background-color: #dadbf1;
}

.bg-neutral-100 {
  background-color: #fff;
}

.bg-neutral-900 {
  background-color: #000000;
}

.color-primary-400 {
  color: #4C5FD5;
}

.color-accent-400 {
  color: #dadbf1;
}

.color-neutral-100 {
  color: #fff;
}

.color-neutral-900 {
  color: #000000;
}

.mobile-nav {
  border-top: 0.5px solid #fff;
}

.mobile-nav-wrapper {
  padding: 2rem;
  display: flex;
  flex-direction: column;
  text-align: center;
  max-width: 550px;
  margin-inline: auto;
}
.mobile-nav-wrapper .link {
  font-size: 1.6rem;
  display: inline-block;
  transition: opacity 0.35s;
  padding: 1rem;
}
.mobile-nav-wrapper .link:hover, .mobile-nav-wrapper .link:focus-within {
  text-decoration: none;
  opacity: 0.8;
}
.mobile-nav-wrapper .link:first-child {
  padding-bottom: 1.2rem;
  border-bottom: 0.5px solid #fff;
}

.bg-primary-400 {
  background-color: #4C5FD5;
}

.bg-accent-400 {
  background-color: #dadbf1;
}

.bg-neutral-100 {
  background-color: #fff;
}

.bg-neutral-900 {
  background-color: #000000;
}

.color-primary-400 {
  color: #4C5FD5;
}

.color-accent-400 {
  color: #dadbf1;
}

.color-neutral-100 {
  color: #fff;
}

.color-neutral-900 {
  color: #000000;
}

.hero {
  background-color: #DADBF1;
}

.hero-wrapper {
  display: flex;
  flex-direction: column;
  align-items: center;
  gap: 4rem;
  padding: 5rem 2rem;
  max-width: 40em;
  margin-inline: auto;
  text-align: center;
}

.hero-title {
  font-size: 2.5rem;
  font-weight: normal;
}

.hero-form-wrapper {
  width: 100%;
}

@media screen and (min-width: 50em) {
  .hero-wrapper {
    gap: 2rem;
  }

  .hero-title {
    font-size: 3.5rem;
  }
}
.bg-primary-400 {
  background-color: #4C5FD5;
}

.bg-accent-400 {
  background-color: #dadbf1;
}

.bg-neutral-100 {
  background-color: #fff;
}

.bg-neutral-900 {
  background-color: #000000;
}

.color-primary-400 {
  color: #4C5FD5;
}

.color-accent-400 {
  color: #dadbf1;
}

.color-neutral-100 {
  color: #fff;
}

.color-neutral-900 {
  color: #000000;
}

.header {
  background-color: #000000;
  position: relative;
}

.header-wrapper {
  max-width: 45em;
  margin-inline: auto;
  padding: 1rem;
  display: flex;
  align-items: center;
  justify-content: space-between;
}

.header-intro {
  display: flex;
  align-items: center;
  justify-content: center;
}
.header-intro a[data-type=icon] {
  width: 120px;
}
.header-intro a.link {
  margin-left: 1.1rem;
  font-size: 1.35rem;
  padding-left: 1.1rem;
  padding-block: 0.3rem;
  border-left: 2px solid #fff;
}

.header-actions {
  display: flex;
  gap: 0.2rem;
}
.header-actions a[data-type=button] {
  display: none;
}
.header-actions button[data-type=icon] {
  width: 30px;
  height: 30px;
}

.header-search-wrapper {
  background-color: #fff;
  padding: 1rem 2rem;
  position: absolute;
  left: 0;
  top: 0;
  width: 100%;
  height: 100%;
  display: flex;
  align-items: center;
  transition: transform 0.2s;
}
.header-search-wrapper .header-search-form {
  width: 100%;
  max-width: 40em;
  margin-inline: auto;
  display: flex;
  align-items: center;
  gap: 1rem;
}
.header-search-wrapper .header-search-form .form-field {
  flex-grow: 2;
}
.header-search-wrapper .header-search-form .form-field input#header-search {
  border-radius: 5px;
}
.header-search-wrapper .header-search-form .form-field input#header-search:focus {
  border-color: #000000;
}
.header-search-wrapper .header-search-form button[data-icon=close] {
  width: 25px;
  height: 25px;
}
.header-search-wrapper[show=false] {
  transform: scale(0);
}
.header-search-wrapper[show=true] {
  transform: scale(1);
}

.header-controls {
  display: none;
}

@media screen and (max-width: 50em) {
  .header-controls {
    position: absolute;
    width: 100%;
    display: block;
    transition: max-height 0.35s;
    max-height: 0px;
    overflow: hidden;
  }
  .header-controls[show] {
    max-height: 100vh;
  }
}
@media screen and (min-width: 50em) {
  .header-wrapper {
    max-width: 70em;
  }

  .header-actions {
    gap: 1.5rem;
  }
  .header-actions a[data-type=button] {
    display: block;
    padding-inline: 2rem;
    padding-block: 0.75rem;
  }
  .header-actions button[data-type=icon] {
    display: none;
  }
}
.bg-primary-400 {
  background-color: #4C5FD5;
}

.bg-accent-400 {
  background-color: #dadbf1;
}

.bg-neutral-100 {
  background-color: #fff;
}

.bg-neutral-900 {
  background-color: #000000;
}

.color-primary-400 {
  color: #4C5FD5;
}

.color-accent-400 {
  color: #dadbf1;
}

.color-neutral-100 {
  color: #fff;
}

.color-neutral-900 {
  color: #000000;
}

.category-container {
  background-color: #fff;
}

.category-container__wrapper {
  padding: 2rem;
}

.categories {
  display: grid;
  grid-template-columns: repeat(1, 1fr);
  row-gap: 2rem;
  max-width: 40em;
  margin-inline: auto;
}

@media screen and (min-width: 40em) {
  .category-container__wrapper {
    padding: 4rem;
  }

  .categories {
    grid-template-columns: repeat(2, 1fr);
    column-gap: 3rem;
    max-width: 70em;
  }
}
.bg-primary-400 {
  background-color: #4C5FD5;
}

.bg-accent-400 {
  background-color: #dadbf1;
}

.bg-neutral-100 {
  background-color: #fff;
}

.bg-neutral-900 {
  background-color: #000000;
}

.color-primary-400 {
  color: #4C5FD5;
}

.color-accent-400 {
  color: #dadbf1;
}

.color-neutral-100 {
  color: #fff;
}

.color-neutral-900 {
  color: #000000;
}

.footer {
  background-color: #000000;
}

.footer-wrapper {
  padding: 2rem;
  display: grid;
  grid-template-columns: repeat(2, 1fr);
  column-gap: 2rem;
  row-gap: 3rem;
}

.footer-copyright {
  display: flex;
  flex-direction: column;
  gap: 1rem;
  grid-column: 1/3;
}
.footer-copyright .copyright-content > :not(:last-child) {
  margin-bottom: 0.75rem;
}
.footer-copyright .copyright-content p {
  font-size: 1.1rem;
}

@media screen and (min-width: 40em) {
  .footer {
    padding: 3rem 1.5rem;
  }

  .footer-wrapper {
    display: flex;
    flex-wrap: wrap;
    gap: 5rem;
    position: relative;
    max-width: 70em;
    margin-inline: auto;
    padding-bottom: 180px;
  }

  .footer-copyright {
    position: absolute;
    right: 0;
    bottom: 2rem;
  }
}

/*# sourceMappingURL=styles.css.map */
