<button data-type="icon" data-icon="search" data-color="white" aria-label="Search button">
    <svg class="icon block">
        <use xlink:href="./sprites/icon-utilities.svg#icon-search"></use>
    </svg>
</button>

<button data-type="icon" data-icon="menu" data-color="white" aria-label="Menu button">
    <svg class="icon block">
        <use xlink:href="./sprites/icon-utilities.svg#icon-menu"></use>
    </svg>
</button>

<button data-type="icon" data-icon="close" data-color="white" aria-label="Close button">
    <svg class="icon block">
        <use xlink:href="./sprites/icon-utilities.svg#icon-close"></use>
    </svg>
</button>

<button data-type="icon" data-icon="arrow" data-color="black" aria-label="submit button">
    <svg class="icon block">
        <use xlink:href="./sprites/icon-utilities.svg#icon-arrow"></use>
    </svg>
</button>

<button class="btn btn-help | bg-primary-400" aria-label="help">
    <svg class="icon">
        <use xlink:href="./sprites/icon-utilities.svg#icon-help"></use>
    </svg>
    <span class="btn-text">Help</span>
</button>