<div class="category-container">
    <div class="category-container__wrapper">
        <div class="categories">

            <div class="category">
                <div class="category-icon">
                    <img src="./assets/img-abstract.png" alt="A picture of Abstract">
                </div>
               <div class="category-content-wrapper">
                    <div class="category-content">
                        <h2 class="category-content__title">Using Abstract</h2>
                        <p class="category-content__desc">Abstract lets you manage, version, and document your designs in one place.</p>
                        <a class="category-content__link" href="#" target="_blank" data-type="arrow">Learn More →</a>
                    </div>
               </div>
            </div>
            
            <div class="category">
                <div class="category-icon">
                    <img src="./assets/img-account.png" alt="A picture of Account">
                </div>
               <div class="category-content-wrapper">
                    <div class="category-content">
                        <h2 class="category-content__title">
                            Manage your account</h2>
                        <p class="category-content__desc">Configure your account settings, such as your email, profile details, and password.</p>
                        <a class="category-content__link" href="#" target="_blank" data-type="arrow">Learn More →</a>
                    </div>
               </div>
            </div>
            
            <div class="category">
                <div class="category-icon">
                    <img src="./assets/img-manage.png" alt="A picture of Manage">
                </div>
               <div class="category-content-wrapper">
                    <div class="category-content">
                        <h2 class="category-content__title">Manage organizations, teams, and projects</h2>
                        <p class="category-content__desc">Use Abstract organizations, teams, and projects to organize your people and your work.</p>
                        <a class="category-content__link" href="#" target="_blank" data-type="arrow">Learn More →</a>
                    </div>
               </div>
            </div>
            
            <div class="category">
                <div class="category-icon">
                    <img src="./assets/img-money.png" alt="A picture of Money">
                </div>
               <div class="category-content-wrapper">
                    <div class="category-content">
                        <h2 class="category-content__title">
                            Manage billing</h2>
                        <p class="category-content__desc">Change subscriptions and payment details.</p>
                        <a class="category-content__link" href="#" target="_blank" data-type="arrow">Learn More →</a>
                    </div>
               </div>
            </div>
            
            <div class="category">
                <div class="category-icon">
                    <img src="./assets/img-key.png" alt="A picture of Key">
                </div>
               <div class="category-content-wrapper">
                    <div class="category-content">
                        <h2 class="category-content__title">Authenticate to Abstract</h2>
                        <p class="category-content__desc">Set up and configure SSO, SCIM, and Just-in-Time provisioning.</p>
                        <a class="category-content__link" href="#" target="_blank" data-type="arrow">Learn More →</a>
                    </div>
               </div>
            </div>
            
            <div class="category">
                <div class="category-icon">
                    <img src="./assets/img-support.png" alt="A picture of Support">
                </div>
               <div class="category-content-wrapper">
                    <div class="category-content">
                        <h2 class="category-content__title">Abstract support</h2>
                        <p class="category-content__desc">Get in touch with a human.</p>
                        <a class="category-content__link" href="#" target="_blank" data-type="arrow">Learn More →</a>
                    </div>
               </div>
            </div>
            
        </div>
    </div>
</div>