<footer class="footer">
    <div class="footer-wrapper">
        <div class="footer-list-container">
            <h3 class="footer-list__title | color-neutral-100">Abstract</h3>
            <ul class="footer-list">
                <li>
                    <a href="#" class="link" target="_blank">Start trial</a>
                </li>
                <li>
                    <a href="#" class="link" target="_blank">Pricing</a>
                </li>
                <li>
                    <a href="#" class="link" target="_blank">Download</a>
                </li>
            </ul>
        </div>
        
        <div class="footer-list-container">
            <h3 class="footer-list__title | color-neutral-100">Resources</h3>
            <ul class="footer-list">
                <li>
                    <a href="#" class="link" target="_blank">Blog</a>
                </li>
                <li>
                    <a href="#" class="link" target="_blank">Help Center</a>
                </li>
                <li>
                    <a href="#" class="link" target="_blank">Release Notes</a>
                </li>
            </ul>
        </div>
        
        <div class="footer-list-container">
            <h3 class="footer-list__title | color-neutral-100">Community</h3>
            <ul class="footer-list">
                <li>
                    <a href="#" class="link" target="_blank">Twitter</a>
                </li>
                <li>
                    <a href="#" class="link" target="_blank">LinkedIn</a>
                </li>
                <li>
                    <a href="#" class="link" target="_blank">Facebook</a>
                </li>
                <li>
                    <a href="#" class="link" target="_blank">Dribble</a>
                </li>
                <li>
                    <a href="#" class="link" target="_blank">Podcast</a>
                </li>
            </ul>
        </div>
        
        <div class="footer-list-container">
            <h3 class="footer-list__title | color-neutral-100">Company</h3>
            <ul class="footer-list">
                <li>
                    <a href="#" class="link" target="_blank">About Us</a>
                </li>
                <li>
                    <a href="#" class="link" target="_blank">Careers</a>
                </li>
                <li>
                    <a href="#" class="link" target="_blank">Legal</a>
                </li>
            </ul>
            <div class="sub-footer__container">
                <span class="sub-footer__title | color-neutral-100">Contact Us</span>
                <ul class="sub-footer-list">
                    <li>
                        <a href="#" class="link" target="_blank">info@abstract.com</a>
                    </li>
                </ul>
            </div>
        </div>

        <div class="footer-copyright">
            <a href="#" target="_blank" data-type="icon" data-icon="topbar">
                <img src="./assets/logo-abstract.svg" alt="Abstract logo">
            </a>
            <div class="copyright-content">
                <p class="color-neutral-100">© Copyright 2022</p>
                <p class="color-neutral-100">Abstract Studio Design, Inc.</p>
                <p class="color-neutral-100">All rights reserved</p>
            </div>
        </div>
    </div>
</footer>