<header class="header">
    <div class="header-wrapper">
        <div class="header-intro">
            <a href="#" target="_blank" data-type="icon" data-icon="topbar">
                <img src="./assets/logo-abstract-with-text.svg" alt="Abstract logo">
            </a>
            <a class="link" href="#" target="_blank">Help Center</a>
        </div>
        <div class="header-actions">
            <a href="#" data-type="button" data-color="outline" target="_blank">Submit a request</a>
            <a href="#" data-type="button" data-color="primary" target="_blank">Sign In</a>
            <button data-type="icon" data-icon="search" data-color="white" aria-label="Search button">
                <svg class="icon block">
                    <use xlink:href="./sprites/icon-utilities.svg#icon-search"></use>
                </svg>
            </button>
            <button data-type="icon" data-icon="menu" data-color="white" aria-label="Menu button">
                <svg class="icon block">
                    <use xlink:href="./sprites/icon-utilities.svg#icon-menu"></use>
                </svg>
            </button>
        </div>
    </div>
    <div class="header-search-wrapper" show="false">
        <form action="POST" id="header-search" class="header-search-form">
            <div class="form-field">
                <label for="header-search">Search</label>
                <input placeholder="Search" type="search" name="header-search" id="header-search">
            </div>
            <button class="header-search-close" type="button" data-type="icon" data-icon="close" data-color="black" aria-label="Close button">
                <svg class="icon block">
                    <use xlink:href="./sprites/icon-utilities.svg#icon-close"></use>
                </svg>
            </button>
        </form>
    </div>

    <div class="header-controls">
        <div class="header-controls-wrapper">
            <div class="mobile-nav | bg-neutral-900">
                <div class="mobile-nav-wrapper">
                    <a href="#" class="link" target="_blank">Submit a request</a>
                    <a href="#" class="link" target="_blank">Sign In</a>
                </div>
            </div>
        </div>
    </div>
</header>