<a class="link" href="#" target="_blank">Help Center</a>
<a href="#" target="_blank" data-type="arrow">Learn More →</a>
<a href="#" class="link" target="_blank">Start trial</a>
<a href="#" class="link" target="_blank">Sign In</a>

<a href="#" target="_blank" data-type="icon" data-icon="topbar">
    <img src="./assets/logo-abstract-with-text.svg" alt="Abstract logo">
</a>

<a href="#" data-type="button" data-color="primary" target="_blank">Sign In</a>
    <a href="#" data-type="button" data-color="outline" target="_blank">Sign In</a>